Pour chaque projets lancer, garde à chaque fois la bonne structure 
de dossier et de fichier.
Pour chaque modification et ou ajout de nouvelle fonctionnaliter, noublie rien 
garde le bon code et les bonnes structure de dossier et de fichier dejà presant.
Noublie rien pour chaque modification et ajout de nouvelle fonctionnaliter.
Fait le moins d'erreur possible.
Par exemple quand on vas ajouter une nouvelle fonctionnaliter, mais bien
à jour les autre fichier si il le faut ! sans rien casser ou perdre du code
qui est dejà present il faut bien tout garder.
Re analyse de temps en temps le projets pour rien oublier et rien perdre, pour
que tout soit toujour parfait.
vérifie egalement que il y à pas d'erreur dans les fichiers et les dossiers
qui sont deja present si il y à des eerreur il faut les corriger de suite.
vérifie à chaque fois tout les dossier et fichier correctement.
faut aussi de temps en temps le trie sur tout le projets, surpimer des choses
qui ne sont plus utile.
Noublie pas de me parler en français aussi.
Quand le projets devient plus grand plus gros, avec plus de dossier et fichier
plus les fonctionnaliter, comprends bien toujours tout le projets, noublie
toujours rien, tu devra continuer meme si le projets et costot.
il faut bien que tu sois au top.
que tu connaise vraiment tout le projets parqueur.
sur certain fichier page, ne change jamais le desin existant, sans que je te le dit
quand il faut chercher un fichier il faut chercher le bon fichier.
vérifie bien que il existe deja.